/* dezaa mixins
 for import in project loader*/

@mixin setBgColor($color) {
  background-color: $color;
}

@mixin setBgColorGOOD($color) {
  background-color: $color;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  &:hover {
    background-color: lighten($color, 10%);
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }
}

@mixin setBgColorGOOD_i($color) {
  background-color: $color !important;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  &:hover {
    background-color: lighten($color, 10%) !important;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }
}

@mixin setShadow($color) {
  box-shadow: $color 10px 10px 10px;
  &:hover {
    box-shadow: darken($color, 10%) 10px 20px 20px;
  }
}

@mixin setTextColor($color) {
  color: $color;
}

@mixin setBorder($color , $height: 1 , $type: "solid") {
  border: $color $height $type;
}

@mixin colorError {
  @include setTextColor($colorError);
}

@mixin colorWarning {
  @include setTextColor($colorWarning);
}

@mixin colorSuccess {
  @include setTextColor($colorSuccess);
}

@mixin colorPrimary {
  @include setTextColor($colorPrimary);
}

@mixin colorLightBlue {
  @include setTextColor($colorLightBlue);
}

@mixin colorDarkBlue {
  @include setTextColor($colorDarkBlue);
}

@mixin colorLightGray {
  @include setTextColor($colorLightGray);
}

@mixin colorLight {
  @include setTextColor($colorLight);
}

@mixin colorGray {
  @include setTextColor($colorGray);
}

@mixin colorDarkGray {
  @include setTextColor($colorDarkGray);
}

@mixin colorDark {
  @include setTextColor($colorDark);
}

@mixin padding-xlow {
  padding: $xlow;
}

@mixin mouse-hand-hover {
  &:hover {
    cursor: pointer;
  }
}

@mixin set-transition($time) {
  transition: $time;
  -moz-transition: $time;
  -webkit-transition: $time;
}

@mixin set-border-color($color) {
  @include setBorder($color, 1px, solid);
}

@mixin set-border-color-outline($color) {
  @include setBorder($color, 2px, solid);
}
