/*Main Colors*/
$colorDarkBlue: #1d69b8;
$colorPrimary: #1d8be0;
$colorLightBlue: #6dabda;
$colorError: #e81a48;
$colorWarning: #e8d25a;
$colorSuccess: #30ce5f;
$colorLight: #fcfcfc;
$colorLightGray: #F0F0F0;
$colorGray: #767676;
$colorDarkGray: #555555;
$colorDark: #0f0f0f;

/*Shadow Colors*/
$shadowMiddle: rgba(177, 177, 177, 0.32);

/*BackGround Colors*/

.bg-gray {
  background-color: $colorGray!important;
}

.bg-dark-blue {
  background-color: $colorDarkBlue!important;
}

.bg-primary {
  background-color: $colorPrimary!important;
}

.bg-light-blue {
  background-color: $colorLightBlue!important;
}

.bg-error {
  background-color: $colorError!important;
}

.bg-warning {
  background-color: $colorWarning!important;
}

.bg-success {
  background-color: $colorSuccess!important;
}

.bg-light {
  background-color: $colorLight!important;
}

.bg-dark {
  background-color: $colorDark!important;
}

.bg-light-gray {
  background-color: $colorLightGray!important;
}

.bg-dark-gray {
  background-color: $colorDarkGray!important;
}


/*Text Colors*/

.gray {
  color: $colorGray!important;
}

.dark-blue {
  color: $colorDarkBlue!important;
}

.primary {
  color: $colorPrimary!important;
}

.light-blue {
  color: $colorLightBlue!important;
}

.error {
  color: $colorError!important;
}

.warning {
  color: $colorWarning!important;
}

.success {
  color: $colorSuccess!important;
}

.light {
  color: $colorLight!important;
}

.dark {
  color: $colorDark!important;
}

.light-gray {
  color: $colorLightGray!important;
}

.dark-gray {
  color: $colorDarkGray!important;
}


/*Text hoverable Colors*/

.bg-gray-hoverable {
  @include setBgColorGOOD_i($colorGray);
}

.bg-dark-blue-hoverable {
  @include setBgColorGOOD_i($colorDarkBlue);
}

.bg-primary-hoverable {
  @include setBgColorGOOD_i($colorPrimary);
}

.bg-light-blue-hoverable {
  @include setBgColorGOOD_i($colorLightBlue);
}

.bg-error-hoverable {
  @include setBgColorGOOD_i($colorError);
}

.bg-warning-hoverable {
  @include setBgColorGOOD_i($colorWarning);
}

.bg-success-hoverable {
  @include setBgColorGOOD_i($colorSuccess);
}

.bg-light-hoverable {
  @include setBgColorGOOD_i($colorLight);
}

.bg-dark-hoverable {
  @include setBgColorGOOD_i($colorDark);
}

.bg-light-gray-hoverable {
  @include setBgColorGOOD_i($colorLightGray);
}

.bg-dark-gray-hoverable {
  @include setBgColorGOOD_i($colorDarkGray);
}