$colorDarkBlue: #1d69b8;
$colorPrimary: #1d8be0;
$colorLightBlue: #6dabda;
$colorError: #e81a48;
$colorWarning: #e8d25a;
$colorSuccess: #30ce5f;
$colorLightGray: #F0F0F0;
$colorGray: #767676;
$colorDarkGray: #555555;
$colorDark: #0f0f0f;